.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.land {
  width: 100%;
  height: 100%;
}

.land img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.next-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.next-button button {
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  background-color:ghostwhite;
}

.register-popup{
  position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.register-box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
}