.Messageing-part{
    background-color:aliceblue;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 100vh;
    display: flex;
}

.chat-list{
    width: 30% ;
    background-color: white;
    border-radius: 2px;
    padding: 20px;
}

.chat-window{
    width: 70%;
    padding: 20px;
}

.chat-list  input{
    width: 90%;
    height:35px ;
    border-radius: 20px;
}

