.user-old-post-space{
    background-color:aliceblue;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 100vh;
}
.see-your-post{
    background-color:rgba(28, 137, 233, 0.884);
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 100px;    
}
