.user-description-writing-space{
    background-color:aliceblue;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 100vh;
}
.heading{
    background-color:rgb(32, 144, 243);
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 50px;    
}
.description-typeing-page{
    width: 70%;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(221, 229, 236);
    border-radius: 20px;
    position: relative;
    z-index: 100;
}